body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard__wrapper {
    width: 95%;
    height: 60%;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(194, 149, 110);
    user-select: none;
    transition: all 0.4s;
    justify-content: center;
    align-items: center;
    align-content:center;
}

.clearfix{
    width: 100%;
    clear: both;
    height: 0;
}

.key-item{
    min-width: 4%;
    height: 8%;
    border: 1px solid black;
    margin: 3px;
    padding: 4px;
    background: rgba(248, 215, 186, 0.3);
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.key-item:hover{
    background: rgba(248, 215, 186, 0.5);
}

.active {
    background-color: #e09132;
}

.key-item_wide{
    width: 10%;
}

.key-item_space{
    width: 18%;
}